
<div class="rocket-information-detail">
    <img class="back" src="../../../assets/back.svg" alt="">
    <div class="rocket-information-left">
        <img src="../../../assets/spacerocket.svg" alt="">
    </div>
    <div class="rocket-information-right">
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/rocket.svg" alt="">
            <div>
            <h2>Rocket name</h2>
            <h3></h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/satellite.svg" alt="">
            <div>
            <h2>Payload type</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/calendar.svg" alt="">
            <div>
            <h2>Launch year</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/number.svg" alt="">
            <div>
            <h2>Flight number</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/list.svg" alt="">
            <div>
            <h2>Rocket type</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/landing.svg" alt="">
            <div>
            <h2>Land success</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/launch.svg" alt="">
            <div>
            <h2>Launch success</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/customer.svg" alt="">
            <div>
            <h2>Customer</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/nationality.svg" alt="">
            <div>
            <h2>Nationality</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first"> 
            <img src="../../../assets/manufacterer.svg" alt="">
            <div>
            <h2>Manufacterer</h2>
            <h3>Rocket title</h3>
            </div>
        </div>

    </div>
</div>
