<!-- {{ rocket.rocket.second_stage | json }} -->
<ng-container *ngIf="rocket; else loading">
<div class="rocket-information-detail">
    <img (click)="backClicked()" class="back" src="../../../assets/back.svg" alt="">
    <div class="rocket-information-left">
        <img src="../../../assets/spacerocket.svg" alt="">
    </div>
    <div class="rocket-information-right">
        <div class="rocket-information-right-first">
            <img src="../../../assets/rocket.svg" alt="">
            <div>
            <h2> Mission name</h2>
            <h3>{{ rocket?.mission_name }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/satellite.svg" alt="">
            <div>
            <h2>Payload type</h2>
            <h3 *ngFor="let payload of rocket?.rocket?.second_stage.payloads">{{ payload.payload_type }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/calendar.svg" alt="">
            <div>
            <h2>Launch year</h2>
            <h3>{{ rocket?.launch_year }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/number.svg" alt="">
            <div>
            <h2>Flight number</h2>
            <h3>{{ rocket?.flight_number }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/list.svg" alt="">
            <div>
            <h2>Rocket type</h2>
            <h3>{{ rocket?.rocket.rocket_type }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
          <img src="../../../assets/launch.svg" alt="">
          <div>
          <h2>Launch success</h2>
          <h3>{{ rocket?.launch_success }}</h3>
          </div>
      </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/landing.svg" alt="">
            <div>
            <h2>Land success</h2>
            <h3>{{ rocket?.land_success }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/customer.svg" alt="">
            <div>
            <h2>Customer(s)</h2>
            <h3 *ngFor="let payload of rocket?.rocket?.second_stage.payloads">{{ payload.customers }}</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/nationality.svg" alt="">
            <div>
            <h2>Nationality</h2>
            <h3>Rocket title</h3>
            </div>
        </div>
        <div class="rocket-information-right-first">
            <img src="../../../assets/manufacterer.svg" alt="">
            <div>
            <h2>Manufacterer</h2>
            <h3>Rocket title</h3>
            </div>
        </div>

    </div>
</div>
</ng-container>
<ng-template #loading> <div> is loading</div></ng-template>
