.search-form {
  margin-top: 50px;
  margin-bottom: 30px;
}

input {
  width: 300px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  padding-left:45px;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.16);
  background-color: #231B2A;
  border-radius: 5px;
  border: 1px;
  color: white;
 }

 .search-form h2 {
     margin: 5px;
 }

 .Icon-inside {
  position:relative;
 }

 .Icon-inside img {
  position:absolute;
  left:4px;
  top:2px;
  padding:6px;

 }
